version: 2.1
orbs:
  fly-tools: zhangpanqin/fly-tools@dev:d016c953127373c4cd0b45881c1acefb62e75741
  node: circleci/node@5.0.2
parameters:
  version:
    type: string
    default: bb
jobs:
  test-node:
    executor: node/default
    steps:
      - run:
         command: node -v
  test-node2:
      docker:
        - image: cimg/node:lts
      steps:
        - run:
            command: node -v
  say-hello:
    docker:
      - image: cimg/base:stable
    parameters:
      cluster:
        description: cluster environment
        type: string
        default: << pipeline.parameters.version >>
    steps:
      - checkout
      - run:
          name: Say hello in << parameters.cluster >>
          command: echo 'Hello, World! << parameters.cluster >>'
      - run:
          name: ceshi pipeline parameters
          command: |
            echo '<< pipeline.parameters.version >>'
      - fly-tools/greet:
          to: panqin

workflows:
  say-hello-workflow:
    jobs:
      - say-hello
  say-hello-workflow2:
    jobs:
      - say-hello:
          cluster: 传入参数
