version: 2.1

on-tag-change: &on-tag-change
  branches:
    ignore: /.*/
  tags:
    only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
jobs:
  say-hello:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          command: echo 'Hello, World!'
workflows:
  say-hello-workflow:
    jobs:
      - say-hello:
          filters: *on-tag-change





